.video {
    position: relative;
    top: 0;
    left: 0;
    max-width: 99vw;
    display: flex;  
}

#myVideo {
    max-width: 100%;
}

body {
    font-family:'Courier New', Courier, monospace;
}

.header {
    position: absolute; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FAD14B;
    padding: 20px;
    z-index: 20;
}

.header h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    margin: 0;
}

.nav {
    z-index: 15;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;  
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none; 
    font-weight: bold;
    font-size: 20px; 
    margin-right: 10px;
    margin-top: 16px;
    padding: 0;
}


a {
    transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover { 
    color:yellow;
    text-decoration: none; 
    font-weight: none;
    box-shadow: inset 400px 0 0 0 #4086a0;  
}

a:link {
    text-decoration: none;
}

.fluffArea {
    margin-left: 10px;
    border-bottom: 10px dotted blue;
    padding-bottom: 20px;
}

.fluffAreaBox {
    margin-top: 20px;
    text-align: center;
}

.travelOptions {
    margin-top: 60px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;  
    display: flex;
}

.travelOptionsContainer1 {
    display: flex;
}

.travelOptions li {
    list-style: none;
    padding: 15px;   
}

.photoContainer {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
}

.photoContainer {
    background-color: #d5d9e0;
    padding-top: 10px;  
}

.photoContainerItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.photoContainerItems img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials {
    text-align: center; 
 }
 
 .socials p {
     text-decoration: underline;
     font-weight: bold;
 }
 
 .socials ul {
     list-style-type: none;
     display: flex;
     justify-content: center;
     gap: 30px;
 }

/* Center of Page Items */

.discountBox {
    text-align: center;
    background-color: #f2f3f5;
    margin-top: 50px;
}

.discountBox h2 {
    font-weight: bold;
}

.rentalHouse {
    border-top: 5px dotted blue;
    text-align: center;
    padding-top: 30px;
    background-color: #d5d9e0;
}

.rentalHouseBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;     
}

.rentalHouseBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 20px;
}


/* Bottom of Page */

.newsletter {
    margin: 50px 480px 50px 480px;
    background-color: #f2f3f5;
} 
.newsletterItems {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.newsletterItems img {
    height: 400px;
    border-radius: 10px;
}

.newsletterBody {
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 75px; 
}

.footer {
    display: flex;
    justify-content: center;
    background-color:#d5d9e0;
    padding: 30px;
    gap: 10px;
}

.footer ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer li {
    list-style: none;
}
